<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict - Family Planning Choice</title>
</head>
<body bgcolor=#fff0f1>

        <link rel="shortcut icon" href="{{ url_for('static', filename='url.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

<center><img src="static\heading7.png" align="middle"></center>

<center><img src="static\fpm.png" align="middle"></center><br><br>


    <td>
        <center>

        <h1 style="font-family:verdana;font-size:100%;color:Blue;">Enter Value : </h1>

    <form method="POST" action = "{{url_for('home')}}">
        <b>
            
            </div>
				<div class="wrap-input100" style="border-bottom: 0px;" >
					<span class="label-input100">Select your Age from the list____: </span>
						<select  class="input10" id="AG" name="AG" style="padding: 5px 5px;margin-top: 8px;border: 2px solid #d9d9d9;" >
							<option value="">Select from the list</option>
							<option value="1">15-19 Years</option>
							<option value="4">20-24 Years</option>
							<option value="5">25-29 Years</option>
							<option value="2">30-34 Years</option>
							<option value="3">35-39 Years</option>
							<option value="6">40-44 Years</option>
							<option value="7">45-49 Years</option>							
						</select>
					<span class="focus-input100"></span>
				</div>            
            
            </div>
				<div class="wrap-input100" style="border-bottom: 0px;" >
					<span class="label-input100">How long wish to avoid pregnancy ? : </span>
						<select  class="input100" id="HLAP" name="HLAP" style="padding: 5px 5px;margin-top: 8px;border: 2px solid #d9d9d9;" >
							<option value="">Select from the list</option>
							<option value="1">Upto 3 Years</option>
							<option value="2">Upto 5 Years</option>
							<option value="3">No Pregnancy in Future</option>					
						</select>
					<span class="focus-input100"></span>
				</div>            

            </div>
				<div class="wrap-input100" style="border-bottom: 0px;" >
					<span class="label-input100">Contraception Option For ?____: </span>
						<select  class="input100" id="COF" name="COF" style="padding: 5px 5px;margin-top: 8px;border: 2px solid #d9d9d9;" ><br>
							<option value="">Select from the list</option>
							<option value="1">Female Partner</option>
							<option value="2">Male Partner</option>					
						</select>
					<span class="focus-input100"></span>
				</div>            
<br><br>                      
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
            </center>
        </td>


<br><br>
</tr>
</table>

<marquee><i>Family Planning is one of the most cost-effective and easy to adoptable method to prevent maternal, infant and child mortality. It can reduce maternal mortality by reducing the number of unintended pregnancies, the number of abortions, and the proportion of births at high risk.
</i></marquee>

<br><br>
        
        <!-- Footer -->
       <div class='footer'>
           <div class="contact"; <p style="text-align:center">
               <a target="_blank" href="https://github.com/SameniNarayanRao/FamilyPlanning"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/narayan-rao-sameni-43358935/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.facebook.com/narayan.rao.1610/"><i class="fab fa-facebook fa-lg contact-icon"></i></a>
               <a target="_blank" href="Test"><i class="fab fa-instagram fa-lg contact-icon"></i></a>
        
           </div>
           <p style="text-align:center; color:blue; font-size:80%"> Developed & Designed By : S. Narayan Rao </p>
        </div>

    
    </body>
</html>