<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor=#ADD8E6>
<center>
    <h1 style="font-family:verdana;font-size:175%;">Family Planning Methods</h1>

            <img src="static\pill1.png">
            <img src="static\condom.png">
            <img src="static\sterilization.png">
            <img src="static\inj.png">
            <img src="static\iud.png">
            <img src="static\sterilization.png">
            <img src="static\doctor.jpg">    
    </div>
    
    <br><br>
    <a href="/">go back to home page</a>


</center>

</body>
</html>